#title {
    display: block;
    text-align: center;
    background: linear-gradient(
        to right,
        red,
        blue
    );
}

#stock1, #stock2, #stock3, #stock4, #stock5 {
    width: 300px;
    height: 300px;
}

#woodboxfont {
    display: block;
    border: 3px solid black;
    text-align: center;
}

#stoneboxfont {
    display: block;
    border: 3px solid black;
    text-align: center;
}

#ironboxfont {
    display: block;
    border: 3px solid black;
    text-align: center;
}

#soilboxfont {
    display: block;
    border: 3px solid black;
    text-align: center;
}

#rlboxfont {
    display: block;
    border: 3px solid black;
    text-align: center;
}

#makestick, #makecraft, #makestonepick, #makeplank {
    width: 200px;
    height: 200px;
}

#makestick2, #makecraft2, #makestonepick2, #makeplank2 {
    width: 100px;
    height: 100px;
}