#Title1 {
    display: block;
    text-align: center;
    color: gray;
}

#Title2 {
    display: block;
    text-align: center;
    color: gray;
}




body {
    background-color: black;
    margin: 0;
    height: 100vh;
  }