#Title1 {
    display: block;
    text-align: center;
    color: gray;
}

#Title2 {
    display: block;
    text-align: center;
    color: gray;
}

#upt1cw, #upt1cw2, #upt1cw3 {
    display: block;
    text-align: center;
    color: gray;
}


body {
    background-color: black;
    margin: 0;
    height: 100vh;
  }



#important {
    display: block;
    text-align: center;
    color: greenyellow;
}